frigate08-beta-node-red-examples.json
[{"id":"e48a29f2.c7e91","type":"mqtt in","z":"d86c352c.9e83d","name":"","topic":"frigate/events","qos":"2","datatype":"auto","broker":"3f5c82ac.348636","x":210,"y":220,"wires":[[]]},{"id":"7b9880e4.24b028","type":"api-call-service","z":"d86c352c.9e83d","name":"notify MyMobile","server":"57ce5691.fd6e48","version":1,"debugenabled":false,"service_domain":"notify","service":"mobile_app_myphone","entityId":"","data":"{\"data\":{\"attachment\":{\"url\":\"https://your.public.hass.address.com/api/frigate/notifications/{{payload.after.id}}.jpg\",\"content-type\":\"jpeg\"}},\"message\":\"Check Cameras if they look suspicious\",\"title\":\"Person Detected on {{payload.after.camera}} camera\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":680,"y":220,"wires":[[]],"info":"Change the following:\nService- to be your mobile in Home Assistant\n\nDATA- url in attachment to be your Homeassistant public url. \n \nInfo:\nFor Android users you may need to add the following after the url:-\n?format=android\n\nI.E.\nhttps://your.public.hass.address.com/api/frigate/notifications/{{payload.after.id}}.jpg?format=android\n\n\n\n{{payload.after.camera}} = Name of Camera\n"},{"id":"9df79166.6c443","type":"json","z":"d86c352c.9e83d","name":"","property":"payload","action":"","pretty":false,"x":370,"y":220,"wires":[["b4265be9.a1b578"]],"info":"Convert JSON Strings to Objects"},{"id":"b4265be9.a1b578","type":"rbe","z":"d86c352c.9e83d","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload.after.id","x":510,"y":220,"wires":[["7b9880e4.24b028"]],"info":"Block any Messages that have  duplicate After ID.  Cuts down on multiple mqtt messages for the same notification"},{"id":"75e669ab.c822f","type":"switch","z":"d86c352c.9e83d","name":"1.Front -- 2.Back cameras","property":"payload.after.camera","propertyType":"msg","rules":[{"t":"eq","v":"front","vt":"str"},{"t":"eq","v":"back","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":710,"y":340,"wires":[["bfbc5e17.ba60e8"],["3fe075c1.e8243a"]],"info":"Change **front** and **back** Switch names to be the names of your cameras defined in the Frigate Config"},{"id":"bfbc5e17.ba60e8","type":"api-call-service","z":"d86c352c.9e83d","name":"Turn on Porch Lights","server":"57ce5691.fd6e48","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.porch_lights","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":940,"y":320,"wires":[[]]},{"id":"3fe075c1.e8243a","type":"api-call-service","z":"d86c352c.9e83d","name":"Turn on Garage Lights","server":"57ce5691.fd6e48","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.garage_led","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":940,"y":360,"wires":[[]]},{"id":"51be24a6.f68c9c","type":"mqtt in","z":"d86c352c.9e83d","name":"","topic":"frigate/events","qos":"2","datatype":"auto","broker":"3f5c82ac.348636","x":210,"y":340,"wires":[[]]},{"id":"ecebcde4.262678","type":"json","z":"d86c352c.9e83d","name":"","property":"payload","action":"","pretty":false,"x":370,"y":340,"wires":[["4c45fa7e.21cc64"]],"info":"Convert JSON Strings to Objects"},{"id":"4c45fa7e.21cc64","type":"rbe","z":"d86c352c.9e83d","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload.after.id","x":510,"y":340,"wires":[["75e669ab.c822f"]],"info":"Block any Messages that have  duplicate After ID.  Cuts down on multiple mqtt messages for the same notification"},{"id":"a3ed0f30.68f8e","type":"mqtt in","z":"d86c352c.9e83d","name":"","topic":"frigate/events","qos":"2","datatype":"auto","broker":"3f5c82ac.348636","x":210,"y":460,"wires":[[]]},{"id":"e7f9181a.ea88f8","type":"json","z":"d86c352c.9e83d","name":"","property":"payload","action":"","pretty":false,"x":370,"y":460,"wires":[["bdc5529d.c825d"]],"info":"Convert JSON Strings to Objects"},{"id":"bdc5529d.c825d","type":"rbe","z":"d86c352c.9e83d","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload.after.id","x":510,"y":460,"wires":[["dee8ee79.d33d4"]],"info":"Block any Messages that have  duplicate After ID.  Cuts down on multiple mqtt messages for the same notification"},{"id":"dee8ee79.d33d4","type":"switch","z":"d86c352c.9e83d","name":"1.Person -- 2.Cat - Labels","property":"payload.after.label","propertyType":"msg","rules":[{"t":"eq","v":"person","vt":"str"},{"t":"eq","v":"cat","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":690,"y":460,"wires":[["3d75b353.b4007c"],["218416fc.4b6062"]],"info":"Change **front** and **back** Switch names to be the names of your cameras defined in the Frigate Config"},{"id":"3d75b353.b4007c","type":"api-call-service","z":"d86c352c.9e83d","name":"Turn on Porch Lights","server":"57ce5691.fd6e48","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.porch_lights","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":940,"y":440,"wires":[[]]},{"id":"218416fc.4b6062","type":"api-call-service","z":"d86c352c.9e83d","name":"notify MyMobile","server":"57ce5691.fd6e48","version":1,"debugenabled":false,"service_domain":"notify","service":"mobile_app_myphone","entityId":"","data":"{\"data\":{\"attachment\":{\"url\":\"https://your.public.hass.address.com/api/frigate/notifications/{{payload.after.id}}.jpg\",\"content-type\":\"jpeg\"}},\"message\":\"Check Cameras if they look suspicious\",\"title\":\"Person Detected on {{payload.after.camera}} camera\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":920,"y":500,"wires":[[]],"info":"Change the following:\nService- to be your mobile in Home Assistant\n\nDATA- url in attachment to be your Homeassistant public url. \n \nInfo:\n{{payload.after.camera}} = Name of Camera\n"},{"id":"5e4df689.517bb","type":"comment","z":"d86c352c.9e83d","name":"Notify Phone if Frigate Detects Something","info":"Flow to notify phone if Frigate detects something","x":300,"y":160,"wires":[]},{"id":"57e99f0.2a2dbe","type":"comment","z":"d86c352c.9e83d","name":"Automation Based on Frigate Camera Name","info":"Flow to action something based on the camera name that triggered detction","x":310,"y":300,"wires":[]},{"id":"1c24dc24.431ca4","type":"comment","z":"d86c352c.9e83d","name":"Automation Based on Frigate Label Name","info":"Flow to turn on light if person detected or just notify phone if Frigate detects a cat","x":300,"y":420,"wires":[]},{"id":"7111e437.ec6adc","type":"mqtt in","z":"d86c352c.9e83d","name":"","topic":"frigate/study/person","qos":"2","datatype":"auto","broker":"3f5c82ac.348636","x":230,"y":620,"wires":[[]]},{"id":"4e0afa20.37f074","type":"switch","z":"d86c352c.9e83d","name":"1.person > 0 -- 2. person=0","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"lte","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":680,"y":620,"wires":[["9b799233.112298"],["74223f2e.0b178"]]},{"id":"e608767f.ba8178","type":"function","z":"d86c352c.9e83d","name":"To Number","func":"msg.payload = Number(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":450,"y":620,"wires":[["4e0afa20.37f074"]],"info":"Convert msg.payload String to Number"},{"id":"9b799233.112298","type":"api-call-service","z":"d86c352c.9e83d","name":"","server":"57ce5691.fd6e48","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.study_person_detected","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":940,"y":580,"wires":[[]],"info":"Change the Input Boolean to one you have created in home assistant.\n\nTo create an Input Boolean in Home assistant:\nIn the UI:-\nConfiguration-->helpers-->Add Helper-->Toggle\n"},{"id":"74223f2e.0b178","type":"api-call-service","z":"d86c352c.9e83d","name":"","server":"57ce5691.fd6e48","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.study_person_detected","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":940,"y":640,"wires":[[]],"info":"Change the Entity ID Input Boolean to one you have created in home assistant.\n\nTo create an Input Boolean in Home assistant:\nIn the UI:-\nConfiguration-->helpers-->Add Helper-->Toggle"},{"id":"b3ddc950.0dde6","type":"comment","z":"d86c352c.9e83d","name":"Set an input boolean based on Label Count","info":"Flow to turn on light if person detected or just notify phone if Frigate detects a cat","x":300,"y":580,"wires":[]},{"id":"3f5c82ac.348636","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"57ce5691.fd6e48","type":"server","name":"Home Assistant","addon":true}]
